<div class="text-center">
  <h1 class="visible-sm visible-xs">Portfolio</h1>

  <% @portfolios.in_groups_of(3) do |group| %>
    <div class="row">
      <% group.compact.each do |portfolio| %>
        <div class="col-sm-12 col-md-4">
          <%=link_to( image_tag( portfolio.picture1, class: "img-responsive img-margin" ),
                    portfolio_path(portfolio)) if portfolio.picture1.present? %>
          <h4><%= link_to portfolio.client_name, portfolio_path(portfolio) %></h4>
          <%= portfolio.description %>
          <% if admin_signed_in? %>
            <%= link_to 'Show', portfolio %>
            <%= link_to 'Edit', edit_portfolio_path(portfolio) %>
            <%= link_to 'Destroy', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%# if admin_signed_in? %>
  <div class="pad-btm">
    <%= link_to 'New Portfolio', new_portfolio_path, class: "btn btn-basecamp" %>
  </div>
  <%# end %>
</div>
