<!-- google -->
<div class="maps location-map visible-md visible-lg">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3589.9153865752673!2d-80.21130398518845!3d25.872262110330244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b195781dd15b%3A0x76f164762f0bfba3!2sHappy+Endings+Custom+Printed+Shirts+%26+Promotional+Items!5e0!3m2!1sen!2sus!4v1453966759464" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<div class="form-group form-wrapper text-center">
  <h4>Get In Touch!</h4>
  <%= form_for @contact, url: contact_request_path do |f| %>
    <%= f.text_field :name, placeholder:"Name",class: "form-control" %><br><br>
    <%= f.text_field :email, placeholder:"Email",class: "form-control" %><br><br>
    <%= f.text_field :phone, placeholder:"Phone",class: "form-control" %><br><br>
    <%= f.text_area :comments, placeholder:"Comments",class: "form-control" %><br><br>
    <%= f.submit "Submit", class: "btn btn-basecamp" %>
  <% end %>
</div>
<div class="cta text-center">
  <h5>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, <br>
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </h5>
    <div class="heading-info text-center">
      <i class="fa fa-phone"></i>&nbsp;Phone: 305-759-4467<br>
      <i class="fa fa-fax"></i>&nbsp;Fax: 305-751-0220<br>
        <a href="tel:+13057594467" class="btn btn-basecamp">Call Us!</a>
    </div>
</div>
