
<div class="row">
  <div class="col-sm-12 col-md-8 elCarousel">
     <div id="carousel-example-generic" class="carousel slide slides" data-ride="carousel">
       <!-- Indicators -->
       <ol class="carousel-indicators">
         <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
         <li data-target="#carousel-example-generic" data-slide-to="1"></li>
         <li data-target="#carousel-example-generic" data-slide-to="2"></li>
       </ol>
       <!-- Wrapper for slides -->
       <div class="carousel-inner" role="listbox">
        <% if @products.present? %>
        <% @products.each_with_index.select{|pd, i| pd.promo?}.zip(0..@products.length).each do |product, index| %>
          <% p "#{product[0]} index: #{index} , promo: #{product[0].promo}, id: #{product[0].id}" %>
            <div class="item <%= 'active' if index == 0 %>">
              <%= image_tag(product[0].image_1, class: "center-block") %>
              <div class="carousel-caption">
                  <h1>
                    <%= link_to product[0].name.titleize, category_product_path(product[0].category_id, product[0].id) %>
                  </h1>
              </div>
            </div>
        <% end %>
        <% end %>
       </div>
       <!-- Controls -->
       <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
         <span class="sr-only">Previous</span>
       </a>
       <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
         <span class="sr-only">Next</span>
       </a>
    </div>
   </div>
  <div class="col-sm-12 col-md-4 text-center">
    <h3>Get A Quote</h3>
    <div class="form-group">
      <%= form_for @quote, url: quote_request_path do |f| %>
        <%= f.text_field :name, placeholder:"Name",class: "form-control" %><br>
        <%= f.text_field :email, placeholder:"Email",class: "form-control" %><br>
        <%= f.text_field :phone, placeholder:"Phone",class: "form-control" %><br>
        <%= f.text_field :item, placeholder:"Item",class: "form-control" %><br>
        <%= f.text_area :comments, placeholder:"Print Description",class: "form-control" %><br>
        <%= f.submit "Submit", class: "btn btn-basecamp" %>
      <% end %>
    </div>
  </div>
</div>

<div class="why_us padding text-center">
  <h2>Take advantage of our Easy Ordering Process</h2>
  <hr>
  <div class="row">
    <div class="col-sm-12 col-md-4 pad-btm">
      <img  class="img-responsive img-margin" src="http://i.imgur.com/lYpWxyV.png" alt="shirts" />
      <p>
        <h4>It all Starts with art!</h4>
        <p>Email us your design, or we can create one for you.</p>
      </p>
    </div>
    <div class="col-sm-12 col-md-4 pad-btm">
      <img class="img-responsive center-block" src="http://i.imgur.com/AcDMOfS.png" alt="shirts" />
      <p>
        <h4>Pick your Promotional Product!</h4>
        <p>Browse our inventory as well as our extensive catalogs.</p>
      </p>
    </div>
    <div class="col-sm-12 col-md-4 pad-btm">
      <img  class="img-responsive img-margin" src="http://i.imgur.com/ozGgSNS.png" alt="shirts" />
      <p>
        <h4>Submit for a fast quote!</h4>
        <p>Once approved we turnaround most of our products in</p>
      </p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-4">
      <img  class="img-responsive" style="max-height: 4em;margin: 0 auto;" src="https://i.imgur.com/OyVSXDt.jpg" alt="smiley" />
    </div>
    <div class="col-xs-4">
      <h2>Established in 1976</h2>
    </div>
    <div class="col-xs-4">
      <img  class="img-responsive" style="max-height: 4em;margin: 0 auto;" src="https://i.imgur.com/OyVSXDt.jpg" alt="smiley" />
    </div>
  </div>
</div>
<!-- <div class="testimonials padding text-center">
  <h1>Testimonials</h1>
  <img  class="img-responsive img-margin" src="http://i.imgur.com/rRVRrpo.jpg" alt="shirts" />
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
    mollit anim id est laborum.
  </p>
</div> -->
<!-- Products -->
<div class="products padding text-center">
  <h1>Products</h1>
  <% if @products.present? %>
  <% if browser.mobile? %>
    <% @products.in_groups_of(3) do |group| %>
      <div class="row">
        <% group.compact.each do |product| %>
              <div class="col-sm-12 col-md-4">
                <div class="tile-offset" style="background-image:url('<%= product.image_1 %>');">
                  <a href="<%= url_for([@category, product ]) %>">
                  <div class="product-overlay HIDE">
                    <div class="title">
                      <h3 style="padding-top: 50%;"><%= product.name %></h3>
                    </div>
                    <div class="bottom" style="background-image:url(http://i.imgur.com/6HsvJeM.png), url(http://i.imgur.com/IPQHutD.png);background-size:50%,51%;background-position:left,right;background-repeat:no-repeat;">
                      <div class="bottom-left">
                        <h6>AS LOW AS</h6>
                        <h4>$<%= product.price %></h4>
                      </div>
                      <div class="bottom-right">
                        <h6 style="left: 6px;">
                          <a style="color: white;" href="<%= url_for([@category, product ]) %>">
                          Quote
                        </a>
                      </h6>
                      </div>
                    </div>
                  </div>
                </a>
                </div>
                <% if admin_signed_in? %>
                  <%= link_to 'Show', [product.category, product], class: "btn btn-primary" %>&nbsp;
                  <%= link_to 'Edit', edit_category_product_path(product.category, product), class: "btn btn-basecamp" %>&nbsp;
                  <%= link_to 'Destroy', [product.category, product], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                <% end %>
              </div>
        <% end %>
      </div>
    <% end %>
    <!-- end of mobile -->
    <% else %>
    <% @products.in_groups_of(3) do |group| %>
      <div class="row">
        <% group.compact.each do |product| %>
              <div class="col-sm-12 col-md-4">
                <div class="tile-offset" style="background-image:url('<%= product.image_1 %>');">
                  <div class="product-overlay HIDE modaling" href="#exampleModal<%= product.id %>">
                    <div class="title">
                      <h3><%= product.name.titleize %></h3>
                    </div>
                    <div class="bottom" style="background-image:url(http://i.imgur.com/6HsvJeM.png), url(http://i.imgur.com/IPQHutD.png);background-size:50%,51%;background-position:left,right;background-repeat:no-repeat;">
                      <div class="bottom-left">
                        <h6>AS LOW AS</h6>
                        <h4>$<%= product.price %></h4>
                      </div>
                      <div class="bottom-right">
                        <h6>Quote</h6>
                      </div>
                    </div>
                  </div>
                </div>
                <% if admin_signed_in? %>
                  <%= link_to 'Show', [product.category, product], class: "btn btn-primary" %>&nbsp;
                  <%= link_to 'Edit', edit_category_product_path(product.category, product), class: "btn btn-basecamp" %>&nbsp;
                  <%= link_to 'Destroy', [product.category, product], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
                <% end %>
              </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <% end %>
</div>

<% if @products.present? %>
  <% @products.each do |product| %>
    <div class="modal fade" id="exampleModal<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-center" id="exampleModalLabel<%= product.id %>"><%= product.name.titleize %></h4>
          </div>
          <div class="modal-body">
            <%= render product %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send message</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<!-- end of products -->




<!-- <div class="choose padding text-center">
  <h1>Why Choose us</h1>
  http://i.imgur.com/uL651d7.jpg
  <img  class="img-responsive img-rounded img-margin" src="http://i.imgur.com/mXEcK0w.jpg" alt="shirts" />
  <p>
    We are wholesale Custom Printers specializing in t-shirts, promotional products, and signs.
    Since 1976 Happy Endings has been providing superior printing and customer service.
  </p>
  <p>
    Our sales and manufacturing facilities are conveniently located on I-95 and 106th Street in Miami.
    We pride ourselves on being large enough to print mass quantities yet small enough to pay close
    attention to every customer.These qualities allow us to ensure everyone leaves with a happy ending.
  </p>
</div> -->
