<h2><%= @contact_message.name %> contacted you</h2>

<p>
  You can reach them here: <br>
  Phone: <%= @contact_message.phone %> <br>
  Email: <%= @contact_message.email %>
</p>
<h5><%= @contact_message.name %>'s  Comments</h5>
<p>
  <%= @contact_message.comments %>
</p>
