<!-- Main jumbotron for a primary marketing message or call to action -->
  <h1 class="text-center">Check out our Catalogs!</h1>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="category-wrapper text-center">
        <%=link_to( image_tag( "https://i.imgur.com/luheJ7J.png", size: "200x200", class: "img-responsive img-margin" ),
                  "https://www.4logowearables.com/cgi-bin/hw/phwPseudo_Submit.w?hwCN=197208212203201210201214205199187201198215205216201&hwCNCD=mlSalOGjEeaiffNu") %>
        <h4 style="color: white;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Wearables Catalog</h4>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="category-wrapper text-center">
        <%=link_to( image_tag( "https://i.imgur.com/Crq6QTX.png", size: "200x200", class: "img-responsive img-margin button-img" ),
                  "https://www.brandbookonline.com/cgi-bin/brand/site.w?catalog=top&sponsor=000004&frames=no&target=main") %>
        <h4 style="color: white;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">BrandBook Catalog</h4>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="category-wrapper text-center">
        <%=link_to( image_tag( "https://i.imgur.com/yXH9Y4W.png", size: "200x200", class: "img-responsive img-margin button-img" ),
                  "http://www.keystoneline.com/index.php") %>
        <h4 style="color: white;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Keystone Catalog</h4>
      </div>
    </div>
  </div>

<div class="text-center">
  <h1 class="titles">Categories</h1>
  <% if @categories.present? %>
  <% @categories.in_groups_of(3) do |group| %>
    <div class="row">
      <% group.compact.each do |category| %>
        <div class="col-sm-12 col-md-4">
          <div class="category-wrapper">
            <%=link_to( image_tag( category.image, size: "200x200", class: "img-responsive img-margin" ),
                      category_products_path(category)) if category.image.present? %>
            <h4><%= link_to category.name, category_products_path(category) %></h4>
            <% if admin_signed_in? %>
              <%= link_to 'Show', category, class: "btn btn-primary" %>&nbsp;
              <%= link_to 'Edit', edit_category_path(category), class: "btn btn-basecamp" %>&nbsp;
              <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <% end %>

  <% if admin_signed_in? %>
  <div class="pad-btm">
    <%= link_to 'New Category', new_category_path, class: "btn btn-basecamp" %>
  </div>
  <% end %>
</div>
